<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dahkelarblom">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:name=".utils.BaseApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.menuAdmin.AdminAddOrderActivity"
            android:theme="@style/SecondaryAppTheme" />
        <activity
            android:name=".view.menuAdmin.AdminMenuActivity" />
        <activity
            android:name=".view.register.RegisterActivity"
            android:theme="@style/SecondaryAppTheme" />
        <activity
            android:name=".view.login.LoginActivity" />
        <activity
            android:name=".view.menuUser.UserMenuActivity" />
        <activity
            android:name=".view.menuUser.OrderActivity"
            android:theme="@style/SecondaryAppTheme" />
        <activity
            android:name=".view.auth.AuthActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>